.callout[data-callout="def"] {
    --callout-color: 90, 135, 112;
    --callout-icon: lucide-book-a;
}

div.mermaid {
  text-align: center;
}

.callout[data-callout="teo"] {
    --callout-color: 33, 100, 119;
    --callout-icon: lucide-sigma;
}

.callout[data-callout="cor"] {
  --callout-color: 118, 199, 224;
  --callout-icon: lucide-arrow-right-from-line;
}

.callout[data-callout="question"] {
  --callout-color: 230, 180, 30;
  --callout-icon: lucide-help-circle;
}

.callout {
  border-left: 3px solid rgb(var(--callout-color));
}

.callout .callout {
  border-left: none;
}
.callout .callout-title {
  font-weight: bold;  /* Grassetto moderato */
}
